.Footer {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFB739;
}

.TopNav {
    display: flex;
    padding: 0 24px;
    align-items: center;
    justify-content: space-between;
    background-color: #FFB739;
    height: 64px;
}

.TopNav ul {
    display: inline-flex;
    align-items: center;
    gap: 20px;
    height: 100%;
}