.Footer {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffb739;
  color: #fa6121;
}

.TopNav {
  display: flex;
  padding: 0 24px;
  align-items: center;
  justify-content: space-between;
  background-color: #ffb739;
  height: 64px;
}

.TopNav a p {
  margin: 0;
}

.TopNav ul {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  height: 100%;
}

.TopNav ul li {
  height: 100%;
  display: grid;
  place-items: center;
}

.transparent .notifIcon {
  height: 30px;
  cursor: pointer;
}

.transparent,
.transparent:hover,
.transparent:focus-within {
  background-color: transparent;
  border: none;
  height: 30%;
}

@media screen and (max-width: 515px) {
  .UserEmail {
    display: none !important  ;
  }
}