.App {
  text-align: center;
}

.App-container {
  display: flex;
  height: calc(100vh - 64px);
}

.container {
  min-height: 100vh;
}

input,
button {
  padding: 12px;
}

ul {
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fa6121;
}

a:hover {
  color: #9e502f;
}

.Chat {
  height: 100%;
  width: 75vw;
  background-color: whitesmoke;
  flex-grow: 1;
}

.ChatHeader {
  max-height: 50px;
  height: 100%;
  background-color: cadetblue;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.ChatHeader .Subject {
  display: flex;
}

.Mails {
  height: calc(100% - 120px);
  padding: 20px;
  text-align: left;
  overflow-y: auto;
}

.MailForm {
  max-height: 70px;
  height: 100%;
  background-color: cadetblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.MailForm .Call-Buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.MailForm .Call-Buttons button {
  max-width: 50px;
  max-height: 50px;
  height: 20vw;
  width: 20vw;
  display: grid;
  place-items: center;
  outline: none;
  border-radius: 50%;
  padding: 0%;
  border: none;
}

.MailForm .Call-Buttons button img {
  height: 50%;
}

.MailForm .Msg-Form {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.MailForm input {
  width: 100%;
}

.MailForm button {
  width: 10%;
  height: 100%;
  background-color: #ffb739;
  transition: background-color 0.3s;
  border: none;
  max-width: 100px;
  max-height: 50px;
  color: #fa6121;
}

.MailForm button:hover {
  background-color: #ac8137;
}

/* sidebar */
.Sidebar {
  flex-grow: 1;
  background: cadetblue;
  border-right: 1px solid rgb(240, 234, 214);
  max-width: 340px;
}

.Contact {
  width: 100%;
  height: 50px;
  /* border: 1px solid gray; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  /* padding: 0 12px; */
  position: relative;
  z-index: 2;
  cursor: pointer;
  overflow-x: visible;
  transition: background-color 0.3s;
}

.Contact:hover {
  background-color: rgb(81, 128, 129);
}

button,
input[type="submit"],
.btn,
.bg-primary {
  background-color: #ffb739;
  border: none;
  color: #9e502f;
}

button:hover,
input[type="submit"]:hover,
.btn:hover,
.badge:hover,
.bg-primary:hover {
  transition: background-color 0.3s;
  border: none;
  background-color: #ac8137;
  color: #9e502f;
}

.badge,
.bg-primary {
  padding: 12px;
  margin: 5px 5px 0 0;
}

.badge {
  background-color: #ffb739 !important;
}

.message {
  margin-bottom: 30px;
}

.message p {
  margin: 0;
}
