.App {
  text-align: center;
}

.App-container {
  display: flex;
}

input, button {
  padding: 12px;
}

ul {
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #FA6121;
}

a:hover {
  color: #9e502f;
}

.Chat {
  height: 100vh;
  width: 75vw;
  background-color: whitesmoke;
}

.ChatHeader {
  max-height: 50px;
  height: 100%;
  background-color: cadetblue;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.ChatHeader .Subject {
  display: flex;
}

.Mails {
  height: calc(100% - 120px);
  padding: 20px;
  text-align: left;
}

.MailForm {
  display: flex;
  max-height: 70px;
  height: 100%;
  background-color: cadetblue;
  display: flex;
}

.MailForm div {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.MailForm input {
  width: 50%;
}

.MailForm button {
  width: 10%;
}

/* sidebar */
.Sidebar {
  flex-grow: 1;
  background: cadetblue;
  border-right: 1px solid rgb(240, 234, 214);
}

.Contact {
  width: 100%;
  height: 50px;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  padding: 0 12px;
}