.App {
  text-align: center;
  overflow-x: hidden;
}

.App-container {
  display: flex;
  height: calc(100vh - 64px);
  position: relative;
}

.container {
  min-height: 100vh;
}

input,
button {
  padding: 12px;
}

ul {
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fa6121;
}

a:hover {
  color: #9e502f;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

button,
input[type="submit"],
.btn,
.bg-primary {
  background-color: #ffb739;
  border: none;
  color: #9e502f;
}

button:hover,
input[type="submit"]:hover,
.btn:hover,
.badge:hover,
.bg-primary:hover {
  transition: background-color 0.3s;
  border: none;
  background-color: #ac8137;
  color: #9e502f;
}

.badge,
.bg-primary {
  padding: 12px;
  margin: 5px 5px 0 0;
}

.badge {
  background-color: #ffb739 !important;
}

