/* sidebar */
.SideBar {
  flex-grow: 1;
  background: cadetblue;
  border-right: 1px solid rgb(240, 234, 214);
  max-width: 340px;
  width: 90vw;
  height: 100%;
}

.SideBar h2 {
  padding: 30px 0;
}

.Conversations {
  margin: 20px 0;
  overflow-y: scroll;
}

.Conversations {
  max-width: 100%;
  max-height: 60%;
  text-align: left;
  padding-left: 10px;
}

.Conversation {
  width: 95%;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 12px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  gap: 10px;
  /* box-shadow: 0 1px rgb(77, 77, 77); */
}

.Conversation:hover {
  background-color: rgb(81, 128, 129);
}

.Conversations h2 {
  margin-bottom: 20px;
}

.Participants {
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.CloseButton {
  position: absolute;
  right: 10px;
  top: 10px;
  display: none;
}

.UnreadCount {
  width: 20px;
  height: 20px;
  background-color: red;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 615px) {
  .SideBar {
    display: block;
  }
}

@media screen and (max-width: 615px) {
  .SideBar {
    position: absolute;
    z-index: 3;
    display: none;
  }
  .CloseButton {
    display: block;
  }
}
