/* sidebar */
.SideBar {
  flex-grow: 1;
  background: cadetblue;
  border-right: 1px solid rgb(240, 234, 214);
  max-width: 340px;
  width: 90vw;
  height: 100%;
}

.Contacts {
  margin: 50px 0;
}

.Conversations {
  margin: 20px 0;
  overflow-y: scroll;
}

.Contacts,
.Conversations {
  max-width: 100%;
  max-height: 40%;
  text-align: left;
  padding-left: 10px;
}

.Conversation {
  width: 100%;
  overflow: hidden;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 12px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.Conversation:hover {
  background-color: rgb(81, 128, 129);
}

.Conversations h2 {
  margin-bottom: 20px;
}

/* contact */
.Contact {
  max-width: calc(100% - 20px);
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  cursor: pointer;
  transition: background-color 0.3s;
  overflow: hidden;
}

.Contact:hover {
  background-color: rgb(81, 128, 129);
}
.onlineCircle {
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50%;
}

.ContactDetails {
  width: calc(100% - 40px);
  display: flex;
  align-items: center;
  word-wrap: break-word;
}

.ContactEmail {
  word-wrap: break-word;
}

.ContactAction {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
}

.ContactAction img {
  height: 20px;
}

.FriendRequestSent {
  padding: 3px 10px;
  position: absolute;
  z-index: 1;
  left: 100%;
  background-color: #fa6121;
  color: white;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  transform-origin: bottom left;
  height: 100%;
  animation: fadeIn 0.3s ease alternate;
}

.CloseButton {
  position: absolute;
  right: 10px;
  top: 10px;
  display: none;
}

@keyframes fadeIn {
  from {
    transform: scale(0.1);
  }
}

@media screen and (min-width: 615px) {
  .SideBar {
    display: block;
  }
}

@media screen and (max-width: 615px) {
  .SideBar {
    position: absolute;
    z-index: 3;
    display: none;
  }
  .CloseButton {
    display: block;
  }
}
